import {Tools} from './js_tools';

import {
    HelpInfo, HelpBoard, HelpFields, HelpButton,
    HelpStoper, helpValue, HelpToolsMenu, GizyWindow, HelpCheckButton, HelpInfoList
} from "../myHelpBoard/gizyBoard";


var tools = new Tools();

document.addEventListener("DOMContentLoaded", function () {
    
    if (window.location.pathname === '/galeria') {
        myEvent();
    }
});

let gBoard = new HelpBoard('Tablica');
let bBtn = new HelpButton('test', test);
let gInfo = new HelpInfo('Info');
let gStoper = new HelpStoper('Stoper');
let gFields = new HelpFields('Pola');
let gInfoList = new HelpInfoList('Lista');
let gCheckButton = new HelpCheckButton('Check', galleryStart);


gBoard.add(bBtn);
gBoard.add(gInfo);
gBoard.add(gStoper);
gBoard.add(gFields);
gBoard.add(gInfoList);
// gBoard.add(gCheckButton);


gInfo.setV('nowa_wartosć');
gStoper.start();
gFields.setV('nowa_wartosc');

gInfoList.addV('nowa_wart1'); gInfoList.addV('nowa_wart2');


gStoper.stop();

function myEvent() {
    let img = document.getElementsByClassName("galleryDivImage");//nasłuch dla wszystkich zdjęć pionowychw galleri
    for (let x = 0; x < img.length; x++) {
        img[x].addEventListener('click', galleryStart, true);
    }
}

var galOptions = {
    font: 'Arial, Verdana, sans-serif',
    colors: {
        back: 'white',
        actualImgBorder: 'red'
    },
    settings: {
        maxWitdhImg: 0,
        maxHighImg: 0
    },
    
    
};

function test() {
    gInfoList.addV('lista');
}


function GalMiniImg() {
    this.imgIndex = 0;
    this.imgUrl = null;
    this.imgFull = null;
    this.imgInfo = null;
    this.divIndex = null;
}

function Gall(galOptions) {
    this.data = {
        currentImageID: 0,
        allImgInfo: [],
        tab: {
            tabImgList: [],
            tabSize: 0,// szerokość tablicy mini zdjęć
            tabActualSize: 0,//suma aktualnie dodanych do tablicy zdjęc
        },
        
    };
    
    this.elements = {
        galAll: document.getElementById('idMyGallery'),// cała galeria
        imgBig: '',// duzy podgląd
        tab: document.getElementById('id_galleryMiniImgAll'),// mini galeria bez prawo lewo
        miniImgTemplate: document.getElementById('id_galleryMini'),//wygląd zdjęcia w minigaleri
    };
}

Gall.prototype = {
    myTest: function () {
        
    },
    //pobieranie danych na podstawie podglądów zdjęć
    allGaleryPrieviewImg: function () {
        let imgPreView = document.getElementsByClassName('galleryDivImage');
        if (imgPreView) {
            for (let i = 0; i < imgPreView.length; i++) {
                let divs = imgPreView[i].getElementsByClassName('imgShow');
                let fullPath = divs[0].src;
                let fileName = fullPath.replace(/\\/g, '/').replace(/.*\//, '');
                let path = fullPath.replace(fileName, '');
                
                let gm = new GalMiniImg();
                gm.imgUrl = fullPath;
                gm.imgFull = path + fileName;
                gm.imgInfo = imgPreView[i].dataset.textInfo;
                gm.imgIndex = i;
                this.data.allImgInfo[i] = gm;
            }
        }
    },
    
    addEvent: function () {
        document.getElementById('IDgalleryClose').addEventListener('click', this.visableGallery, false);
        document.getElementById('IDgalleryMiniArrowLeft').addEventListener('click', this.imgLeft, false);
        document.getElementById('IDgalleryMiniArrowRight').addEventListener('click', this.imgRight, false);
        document.getElementById('IDgalleryArrowRight').addEventListener('click', this.imgRight, false);
        document.getElementById('IDgalleryArrowLeft').addEventListener('click', this.imgLeft, false);
    },
    
    tabImgFill: function () {
        this.data.allImgInfo.forEach((imgToAdd) => {
            let img = this.getImgMiniGallery(imgToAdd.imgIndex);
            this.tabImgAddLast(img);
            
        });
        
        
    }
    , imgLeft: function (event) {
        field.setV('imgLeft');
        
    },
    imgRight: function (event) {
        field.setV('imgRight');
        
    },
    
    getImgMiniGallery: function (imgID) {
        let imgClone = this.elements.miniImgTemplate.cloneNode(true);
        imgClone.classList.toggle('divHidden');
        imgClone.getElementsByClassName('galleryMiniImg')[0].src = this.data.allImgInfo[imgID].imgUrl;
        imgClone.getElementsByClassName('galleryMiniImg')[0].setAttribute('data-imgID', imgID);
        
        return imgClone;
    },
    tabImgAddFirst: function (imgToAdd) {
        
        
        if (this.tabHasSpace(imgToAdd)) {
            this.data.tab.tabImgList.push(imgToAdd.getAttribute('data-imgID'));
            
        } else {
            
        }
        
    },
    tabImgAddLast: function (imgToAdd) {
        //dodoawanie do tab
        console.log(imgToAdd);
        if (this.tabHasSpace(imgToAdd)) {
            let imgID = imgToAdd.getAttribute('data-imgID');
            this.data.tab.tabImgList.unshift(imgID);
            this.elements.tab.appendChild(imgToAdd);
            imgToAdd.addEventListener('click', this.changeImage, false);
            
        } else {
            console.log('brk miejsca');
        }
        
    },
    changeImage: function (idImg) {
    
    },
    
    
    tabHasSpace: function (elementToAdd) {
        let val = 0;
        let elementSize = tools.szerokosc(elementToAdd);
        return this.data.tab.tabSize > this.data.tab.tabActualSize + elementSize;
        
    }, visableGallery: function () {
        document.getElementById('idMyGallery').classList.toggle('divHidden');
    },
    setData: function () {
        this.elements.imgBig = document.getElementById('idGalleryImg');
    },
    
};

var gal = new Gall(galOptions);

function galleryStart() {
    gal.allGaleryPrieviewImg();// pobranie listy zdjęć
    gal.visableGallery();
    gal.data.tab.tabSize = gal.elements.tab.clientWidth;// początkowy odczyt szerokości tab
    gal.tabImgFill();// wypełnienie taba mini zdjęciami
    gal.setData();
    gal.addEvent();
    
}



